body{
    margin: 0;
    background: gray;
    height: 100vh;
    font-size: 35px;
}
.has-blue-text{
    color: blue;
}
#orange-background{
    background-color: orange;
}
p + .update-me{
    
}

li:not(:first-child){
    color: red;
}